<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493468857194-qm59n979pq3pbjsec9c1hjskfuj8m2s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493468857194-qm59n979pq3pbjsec9c1hjskfuj8m2s3</string>
	<key>API_KEY</key>
	<string>AIzaSyCpbE-rtUpE-61B0eOBMXrVSsHnwbCY1kM</string>
	<key>GCM_SENDER_ID</key>
	<string>493468857194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibt.Custom-login</string>
	<key>PROJECT_ID</key>
	<string>customlogin-e658f</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-e658f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493468857194:ios:a57b5d513a74d1ef3deb13</string>
	<key>DATABASE_URL</key>
	<string>https://customlogin-e658f.firebaseio.com</string>
</dict>
</plist>